@using Planetss.Entities;
@model List<PlanetInformation>

<h1>Category List</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Planet Name</th>
            <th>Moon Count</th>
            <th>Population Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.MoonCount</td>
                <td>@obj.PopulationCount</td>
            </tr>
        }
    </tbody>
</table>

﻿